.translateX {
  background-color: yellowgreen;
  height: 10rem;
  width: 10rem;
  transition: transform 2s;
  display: inline-block;

  &:hover {
    transform: translate(50rem, 50rem);
  }
}

.scale {
  background-color: blueviolet;
  height: 10rem;
  width: 10rem;
  display: inline-block;

  transition: transform 2s;
  &:hover {
    transform: scale(5, 3);
  }
}

.rotate {
  background-color: orange;
  height: 10rem;
  width: 10rem;
  display: inline-block;

  transition: transform 2s;
  &:hover {
    transform: rotate(-360deg);
    //transform: rotate(0.5turn);
    //transform: rotate(200grad);
  }
}

.skew {
  background-color: greenyellow;
  height: 10rem;
  width: 10rem;
  display: inline-block;

  transition: transform 2s;
  &:hover {
    transform: skew(10deg, 2deg);
  }
}

.transform-origin {
  background-color: darkorange;
  height: 10rem;
  width: 10rem;
  display: inline-block;

  transition: transform 2s;
  transform-origin: 50% 50%;

  &:hover {
    transform: rotate(45deg);
  }
}
